@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
body{
    text-align: center;
    font-family: 'Roboto Condensed';
    background-color: #9AB0A6;
}

img{
    max-height: 300px;
    border: 3px solid black;
    border-radius: 30px;
    transition: all .2s ease-in-out;
}
.grid {
    display: grid; 
    grid-template-columns: repeat(3, minmax(250px, 1fr)); 
    padding: 0.5em;
}
.cardNoImg{
    border-radius: 30px;
    transition: all .2s ease-in-out;
}

.cardNoImg:hover{
    background-color: white;
    transform: scale(1.1);
    border: 3px solid black;

}

.previewText:hover{
    cursor: pointer;

}

.title{
    color: #518394;
}
.header{
    color: #518394;
}